<div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>Quick Links</h3>
            <%= render :partial => "account" %>
          </li>
        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>Listy</h1>
        </div>

        <div id="getting-started">
          <h1>Getting started</h1>
          <h2>Here&rsquo;s how to get rolling:</h2>

          <ol>
            <li>
            <h2>Register</h2>
            <p>This will let you start using the system</p>
            </li>

            <li>
            <h2>Login</h2>
            <p>You know you need to do this</p>
            </li>

          </ol>
        </div>
      </div>

      <div id="footer">&nbsp;</div>
    </div>
